.landing_image{
    /* background-color: aquamarine; */
    background-image: url("../../../public/Imgs/home1.jpg");
    /* background-image: url(); */
    height: 800px;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 130px;
    padding-left: 250px;
}

.landing_form{
    height: 400px;
    background-color:white;
    padding-top: 20px;
    width: 400px;
    padding-left: 40px;
    box-shadow: 10px 10px 10px 10px rgb(228, 227, 225);
}

.landing_form input{
    margin-top: 20px;
    width: 150px;

}
.landing_form p{
    font-size: 20px;
    margin-top: 30px;
    line-height: 0.9;
    font-weight: 600;
}

.landing_form button{
    margin-top: 30px;
    width: 300px;
    text-align: center;
    justify-content: center;
    background-color: #fed250;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.sanitized{
    font-size: 25px;
    gap: 50px;
    /* height: 60px; */
    background-color: aquamarine;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.sanitized_section{
    display: flex;
    flex-wrap: wrap;
    margin-left:1%;
    text-align: center;
    justify-content: center;
}
.rbx{
    background-image: url("../../../public/Imgs/rbx.jpg");
    height: 900px;
    background-size: cover;
    cursor: pointer;
    /* background-color: #fed250; */
}

.subscribe{
    margin: 40% 40%;
    background-color: #fed250;
    color: black;
    border-radius: 40px;
    border: none;
    height: 40px;
    width: 200px;
    font-weight: 500;
    font-size: 25px;
}
.save{
    height: 50px;
    background-color: rgb(102, 98, 98);
    color: white;
    padding-top: 10px;
    font-weight: 600;
    text-align: right;
    font-size: 22px;
    padding-right: 10px;
}
.fleet{
    margin-top: 100px;
    height:600px;
    background-color: rgb(150, 224, 135);
    text-align: center;
    justify-content:center;
    padding-top: 20px;
}
.fleetDuration{
    justify-content: right;
    text-align: right;
    padding-right: 40px;
    font-size: 25px;
}
.fleetDuration select{
    border: #fed250 1px solid;
    width: 200px;
    margin-left: 20px;
}


.fleet_card_container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    height: 450px;
    /* background-color: rebeccapurple; */
    /* margin-top: 20px; */
}


.fleet_card{
    height: 390px;
    width: 350px;
    background-color: #f7fafc;
    text-align: center;
    justify-content: center;
    margin: 20px;
    font-size: 25px;
    padding-top: 20px;
    border-radius: 20px;
}

.line{
    height: 2px ;
    width: 100%;
    margin: 30px 0px;
    background-color: #dddddd;
}

.homeButton{
    height: 50px;
    width: 100%;
    background-color: #fed250;
    margin-top: 40px;
    border-radius: 20px;
    border: none;
}