.input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: white;
  margin-bottom: 22px;
  font-size: 15px;
  border-radius: 8px;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
}

.header {
  background-color: #f5f5f5;
  border: none;
}
.cityName {
  color: white;
  font-size: 13px;
  margin-bottom: 0px;
}

.item {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: contain;
  padding: 10px;
  height: 143px;
  width: 143px;
  background-size: contain;
  cursor: pointer;
}
.body {
  background-color: #f5f5f5;
}
.item1 {
  background-image: url(../../Photo/agra.jpg);
}
.item2 {
  background-image: url(../../Photo/ahmedabad.jpg);
}
.item3 {
  background-image: url(../../Photo/Alleppy.jpg);
}
.item4 {
  background-image: url(../../Photo/Amritsar.jpg);
}
.item5 {
  background-image: url(../../Photo/Andaman.jpg);
}
.item6 {
  background-image: url(../../Photo/Bangalore.jpg);
}
.item7 {
  background-image: url(../../Photo/Bangalore.jpg);
}
.item8 {
  background-image: url(../../Photo/Bankok.jpg);
}
.item9 {
  background-image: url(../../Photo/Bhubneswar.jpg);
}
.item10 {
  background-image: url(../../Photo/Bhuj.jpg);
}
.item11 {
  background-image: url(../../Photo/Calicut.jpg);
}
.item12 {
  background-image: url(../../Photo/Chandigarh.jpg);
}
.item13 {
  background-image: url(../../Photo/Chennai.jpg);
}
.item14 {
  background-image: url(../../Photo/Chikmagalur.jpg);
}
.item15 {
  background-image: url(../../Photo/Cochin.jpg);
}
.item16 {
  background-image: url(../../Photo/Bankok.jpg);
}
.item17 {
  background-image: url(../../Photo/Coimbatore.jpg);
}
.item18 {
  background-image: url(../../Photo/Coorg.jpg);
}
.item19 {
  background-image: url(../../Photo/Coorg2.jpg);
}
.item20 {
  background-image: url(../../Photo/Davangere.jpg);
}
.item21 {
  background-image: url(../../Photo/Delhi.jpg);
}
.item22 {
  background-image: url(../../Photo/Dharmshala.jpg);
}
.item23 {
  background-image: url(../../Photo/Ganpati.jpg);
}
.item24 {
  background-image: url(../../Photo/Gandhinagar.jpg);
}
.item25 {
  background-image: url(../../Photo/Goa.jpg);
}
.item26 {
  background-image: url(../../Photo/Guntur.jpg);
}
.item27 {
  background-image: url(../../Photo/Gurugram.jpg);
}
.item28 {
  background-image: url(../../Photo/Guwahati.jpg);
}
.item29 {
  background-image: url(../../Photo/Hubli.jpg);
}
.item30 {
  background-image: url(../../Photo/Hyderabad.jpg);
}
.item31 {
  background-image: url(../../Photo/Indore.jpg);
}
.item32 {
  background-image: url(../../Photo/Jaipur.jpg);
}
.item33 {
  background-image: url(../../Photo/Jaisalmer.jpg);
}
.item34 {
  background-image: url(../../Photo/Jodhpur.jpg);
}
.item35 {
  background-image: url(../../Photo/Kolkata.jpg);
}
.item36 {
  background-image: url(../../Photo/Konark.jpg);
}
.item37 {
  background-image: url(../../Photo/Lucknow.jpg);
}
.item38 {
  background-image: url(../../Photo/Manali.jpg);
}
.item39 {
  background-image: url(../../Photo/Mangalore.jpg);
}
.item40 {
  background-image: url(../../Photo/Mohali.jpg);
}
.item41 {
  background-image: url(../../Photo/Mount.jpg);
}
.item42 {
  background-image: url(../../Photo/Mumbai.jpg);
}
.item43 {
  background-image: url(../../Photo/Mysore.jpg);
}
.item44 {
  background-image: url(../../Photo/Nashik.jpg);
}
.item45 {
  background-image: url(../../Photo/Ooty.jpg);
}
.item46 {
  background-image: url(../../Photo/Pondicherry.jpg);
}
.item47 {
  background-image: url(../../Photo/Pune.jpg);
}
.item48 {
  background-image: url(../../Photo/Puri.jpg);
}
.item49 {
  background-image: url(../../Photo/Ranchi.jpg);
}
.item50 {
  background-image: url(../../Photo/RIshikesh.jpg);
}
.item51 {
  background-image: url(../../Photo/Sakleshpur.jpg);
}
.item52 {
  background-image: url(../../Photo/Siliguri.jpg);
}
.item53 {
  background-image: url(../../Photo/Srinagar.jpg);
}
.item54 {
  background-image: url(../../Photo/Surat.jpg);
}
.item55 {
  background-image: url(../../Photo/Tirupati.jpg);
}
.item56 {
  background-image: url(../../Photo/Trivandrum.jpg);
}
.item57 {
  background-image: url(../../Photo/Udaipur.jpg);
}
.item58 {
  background-image: url(../../Photo/Udupi.jpg);
}
.item59 {
  background-image: url(../../Photo/Vijaywada.jpg);
}
.item60 {
  background-image: url(../../Photo/Vizag.jpg);
}
.item61 {
  background-image: url(../../Photo/Wayanad.jpg);
}
