.partner {
  background-color: #f6f6f6;
  font-family: muli, sans-serif;
}
.first_title {
  line-height: 16.896px;
  text-align: center;
  letter-spacing: normal;
  background: #444444;
  color: #ffffff;
  font-size: 15px;
  padding: 13px;
}
.under_line {
  height: 6px;
  width: 50%;
  margin: -15px auto 40px auto;
  background-color: #fed250;
}
.under_line2 {
  height: 6px;
  width: 8%;
  margin: -3px auto 40px auto;
  background-color: #fed250;
}
.partner-flex-1 {
  display: flex;
  width: 510px;
  margin-left: 7em;
  flex-direction: column;
  margin-top: 4em;
}
.pic {
  width: 100%;
}
.container-fluid {
  padding: 0;
}
.accordion {
  width: 70%;
  margin: -70px auto 0px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.faq {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  padding: 18px;
}
.fafs {
  color: #000000;
  text-decoration: none;
  font-size: 17px;
}
.fafs:hover {
  color: #000000;
  cursor: pointer;
}
.fabg {
  background-color: #f0f0f0;
}
.faa {
  font-size: 17px;
  padding: 25px;
  color: #555555;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  align-items: center;
  justify-items: center;
}
.first {
  height: 100px;
}
.icon {
  background-color: orange;
}
.container {
  height: 100%;
}
.Pearning {
  display: flex;
  margin: 2em 0px;
  width: 100%;
}
.earning {
  width: 35%;
  padding: 16px;
  margin: auto;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(243, 182, 1, 1) 0%,
    rgba(255, 227, 144, 1) 100%
  );
  font-weight: 600;
  font-size: 18px;
  border-radius: 7px;
}
.heading {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.desc {
  color: #555555;
  font-size: 17px;
  margin-bottom: 40px;
}
.flex31{
  background-color: white;
}